@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white font-public-sans;
    }
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background: lightgray;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    background: rgba(0, 0, 0, 0.219);

    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
